
*{ 
    padding:0; margin:0;
    -o-user-select:none; -ms-user-select:none; -khtml-user-select:none; 
    -webkit-user-select:none; -moz-user-select: none;/* pointer-events:none; */
    box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;
}

html{ width:100%; height:100%; }

body {

    color: #FFF;
    font-family:Monospace;
    font-size:14px;
    background-color: #FFFFFF;
    overflow: hidden;
    
}

/* WEB FONT */

@font-face {
    font-family: 'FrutigerLTStd-Light';
    src: url('fonts/FrutigerLTStd-Light.eot') format('embedded-opentype');
    src: url('fonts/FrutigerLTStd-Light.otf') format('opentype'),
    url('fonts/FrutigerLTStd-Light.woff') format('woff'), 
    url('fonts/FrutigerLTStd-Light.ttf') format('truetype'), 
    url('fonts/FrutigerLTStd-Light.svg#FrutigerLTStd-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'FrutigerLTStd-Bold';
    src: url('fonts/FrutigerLTStd-Bold.eot') format('embedded-opentype');
    src: url('fonts/FrutigerLTStd-Bold.otf') format('opentype'),
    url('fonts/FrutigerLTStd-Bold.woff') format('woff'), 
    url('fonts/FrutigerLTStd-Bold.ttf') format('truetype'), 
    url('fonts/FrutigerLTStd-Bold.svg#FrutigerLTStd-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FrutigerLTStd-BoldCn';
    src: url('fonts/FrutigerLTStd-BoldCn.eot') format('embedded-opentype');
    src: url('fonts/FrutigerLTStd-BoldCn.otf') format('opentype'),
    url('fonts/FrutigerLTStd-BoldCn.woff') format('woff'), 
    url('fonts/FrutigerLTStd-BoldCn.ttf') format('truetype'), 
    url('fonts/FrutigerLTStd-BoldCn.svg#FrutigerLTStd-BoldCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FrutigerLTStd-Roman';
    src: url('fonts/FrutigerLTStd-Roman.eot') format('embedded-opentype');
    src: url('fonts/FrutigerLTStd-Roman.otf') format('opentype'),
    url('fonts/FrutigerLTStd-Roman.woff') format('woff'), 
    url('fonts/FrutigerLTStd-Roman.ttf') format('truetype'), 
    url('fonts/FrutigerLTStd-Roman.svg#FrutigerLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
} */

/* MAIN */

.canvas3d{
    position:absolute; top:0; left:0;
}

.cssContent{
    position:absolute; top:0; left:0;
}

.testImage{
    position:absolute; top:0px; left:0px;
    pointer-events:none;
}

.title{
    font-family: 'FrutigerLTStd-Light';
    font-size: 33px;
    color: #404040;
    position:absolute; top:30px; left:30px;
    pointer-events:none;
}

.subtitle{
    font-family: 'FrutigerLTStd-Light';
    font-size: 33px;
    color: #e10000;
    position:absolute; top:70px; left:30px;
    letter-spacing: 0.4px;
    pointer-events:none;
}

.downtext{
    font-family: 'FrutigerLTStd-Light';
    font-size: 13px;
    color: #404040;
    position:absolute; bottom:24px; right:27px;
    letter-spacing: 0.4px;
    pointer-events:none;
    line-height: 20px;
}

.minimenu{
    position:absolute; width:120px; height:34px; bottom: 31px; left:50%;
    margin-left:-60px;
    font-family: 'FrutigerLTStd-Light';
    font-size: 13px;
    color: #404040;
    line-height: 22px;
    text-align: center;
    pointer-events:none;

}

.puces{
    position:relative; width:6px; height:12px;
    background-color: #e0e0e0;
    border-radius: 3px;
    margin:0px 12px;
    display: inline-block;
    bottom: 0px;

}


/**/

.button{
    font-family: 'FrutigerLTStd-Light';
    font-size: 16px;
    position:absolute;
    right:30px;
    width:100px;
    background-color: #404040;
    padding: 5px 5px;
    margin:5px 5px;
    cursor:pointer;
    text-align: center;
}
.button:hover {
    background-color: #e10000;
}

.content{
    position: absolute; top:0; left:0; pointer-events:auto; width:100%; height:100%; 
}